<!doctype html>
<!--suppress ALL -->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Community</title>

  <!-- Linking the css file -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" >

  <link rel="stylesheet" href="{{ url_for('static',filename='responsive/home.css') }}">

  <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">

</head>

<body>

  <!-- Navigation Bar Starts  -->
  <nav class="navbar navbar-expand-lg navbar-light  navigation-bar" style="">
    <div class="container-fluid">
      <a href="/">
        <img src="../static/img/logo.png" id="companyLogoNavigationBar" style="cursor: pointer;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          </li>
        </ul>
        <form class="d-flex">
          {% if user.is_authenticated %}
          <a class="btn btn-danger mx-1" href="/logout">Logout</a>
          <a href="/profile/{{user.userName}}" class="user-icon-navbar mx-2">
            <img src="../static/img/user-icon.svg" style="height: 30px; width: 30px;">
          </a>
          {% else %}
          <a class="btn btn-danger mx-1" data-bs-toggle="modal" data-bs-target="#loginFormModal">Login</a>
          <a class="btn btn-success mx-1" data-bs-toggle="modal" data-bs-target="#signupFormModal">Signup</a>
          {% endif %}
        </form>
      </div>
    </div>
  </nav>
  <!-- Navigation Bar End -->

  <!-- Login  -->
  <div class="modal fade" id="loginFormModal" tabindex="-1" aria-labelledby="loginFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login To Your Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/login/" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <!--suppress XmlDuplicatedId -->
              <input type="email" class="form-control" name="emailIdLogin" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="passwordLogin" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Signup -->
  <div class="modal fade" id="signupFormModal" tabindex="-1" aria-labelledby="signupFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Signup to Create A New Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/signup/" method="post">
            <div class="mb-3">
              <label for="userName" class="form-label">Name</label>
              <input type="text" name="realNameOfUser" class="form-control" id="userName" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="emailIdSignup" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="passwordSignup" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Display according to category -->
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
  {% for category,message in messages %}
  {% if category == 'error' %}
  <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
      {{message}}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% else %}
  <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
      <use xlink:href="#check-circle-fill" />
    </svg>
    <div>
      {{message}}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="main-category-area my-2">
    <h1 class="main-category-heading">
      Thread Categories
    </h1>
    <div class="category-cards">
      {% for category in categories %}
      <div class="card my-4" style="width: 68vw; max-width: 100vw;">
        <img src="../static/img/{{category.categoryImage}}" id="companyLogoNavigationBar" class="my-1 category-img"
          style="width: 10vw; height: 10vw; margin-right: auto; margin-left: auto;" class="card-img-top">
        <div class="card-body category-info">
          <h4 class="card-title">{{category.categoryName}}</h4>
          <p class="card-text">{{category.categoryDescription}}</p>
          <a href="/category/{{category.categoryId}}" class="btn category-btn" style="width: 15vw;">Open {{category.categoryName}} Category</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>