
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto+Slab:wght@800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
element.style {
    background-color: rgb(184 204 160);
}

element.style {
    width: 60vw;
}
.category-info-div {
    background-color: rgb(235 229 229);
    box-shadow: #876b6b 0.3vh 0.3vw 0.3rem;
}

.thread-div{
    border: 2px solid rgb(205, 155, 155);
    border-radius: 32px;
}

.thread-div:hover{
    box-shadow: #876b6b 0.2vh 0.2vw 0.2rem;
}

.user-icon-thread{
    height: 30px;
    width: 30px;
}

img{
    vertical-align: middle;
    width:25%;
    border-radius:50%;
    padding:0px;
}
.thread-btn{
    background-color: rgb(205, 155, 155);
}

.userName{
    font-family: 'Roboto Slab', serif;
}

.dateAddedDivOfthread{
    font-family: 'Nunito', sans-serif;
}